{% include 'index.html' %}
{% load static %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

    body {
        background: url('/static/Login.jpg');
        background-size: cover;
        font-family: 'Poppins';
    }

    .container {
        padding: 30px;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        background: #fff;
    }

    .btn {
        border: none;
        background: #00949B;
        border-radius: 10px;
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .register {
        text-decoration: none;
        color: #00949B;
        font-weight: bold;
        border: 0;
    }
</style>

<main class="container-fluid">
    <div class="row d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="col-12 col-sm-6 col-md-2">
            <form class="container" action="{% url 'login_confirm' %}" method="post">
                {% csrf_token %}
                <h2 class="text-center">Sign-in</h2>
                {% for messages in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{messages}}
                    </div>
                {% endfor %}
                <div class="mb-3">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <p class="text-center">Don't have an account?<a class="register" href="/register_form"> Create One</a>
                </p>
            </form>
        </div>
    </div>
</main>
{% endblock %}